@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root{
    --mainBg-color: #4831d4;
    --secodaryBg-color: #351ad9;
    --text-color: #ffffff;
    --btn-color: #bafc40;
    
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--mainBg-color);
    color: var(--text-color);
    transition: 0.3s ease;

}
img{
    width: 100%;
}

a{
    color: var(--text-color);
    text-decoration: none;

}
ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.fixed-nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(54, 54, 54);
}
.switch-icons{
    cursor: pointer;
    font-size: 1.4rem;
}

.menu-btn{
    display: none;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    
}

.nav-links{
    display: flex;
    gap: 30px;
}
.container{
    max-width: 1120px;
    width: 90%;
    margin: auto;
}

.main-banner{
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px 50px;
    justify-content: space-between;
    padding: 3rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.651);
    /* justify-content: center; */
    
}
#name{
    color: var(--btn-color);
    font-weight: bold;
}
.left-col{
    position: relative;
    animation: slideInFromLeft 1s ease;
}
.left-col h1{
    font-size: 3rem;
    margin-bottom: 10px;
    padding-bottom: 5px;
    /* border-bottom: 2px solid white; */
    display: inline-block;
}

.left-col p{
    line-height: 1.5;
}
.left-col .btn{
    display: inline-block;
    background-color: var(--btn-color);
    color: var(--btn-color);
    padding: 10px 20px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    margin-top: 10px;
    text-transform: uppercase;
    transition: 0.3s ease;
    color: black;

}
.left-col .btn:hover{
    /* background-color: var(--btn-color); */
    transition: 0.3s ease;
    /* color: black; */
    transform: translateY(-5px);
}
.right-col{
    animation: slideInFromRight 1s ease;
    border-radius: 20px

}
.right-col img{
    /* max-width: 300px; */
    display: block;
    /* margin: auto; */
}


/* About Me section */
#about-me{
    padding: 2rem 0;
}
.fa-address-card, .fa-microchip, .fa-laptop-code{
    font-size: 1.2rem;
    border-left: 2px solid white;
    padding-left: 10px;
}
.about-section{
    display: flex;
    grid-template-columns: 35% 60%;
    align-items: center;
    justify-content: space-between;
    
}
.about-left{
    width: 60%;
    text-align: left;
}

.about-left p{
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 15px;
}
.about-right{
    width: 35%;
    background-color: var(--secodaryBg-color);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    
}
.about-right img{
    max-width: 300px;
    display: block;
    margin: auto;
}

/* SKills sections */
#skills{
    padding: 2rem 0;
}
.skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.skill-item{
    background-color: var(--secodaryBg-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



/* Projects section*/

#projects{
    padding: 2rem 0;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.project1{
    position: relative;
    /* background-color: var(--secodaryBg-color); */
    padding: 10px;
    border: 2px solid rgba(202, 202, 202, 0.623);
    border-radius: 20px;
    text-align: center;
}
.project1 img{
    display: block;
    border-radius: 10px;
    transition: 0.3s ease;

}
.project1 img:hover{
    transform: scale(1.03);
    transition: 0.3s ease;
}
.project1 h3{
    margin-top: 10px;
    font-size: 1.3rem;
}
.project1 p{
    display: inline-block;
    /* padding: 10px; */
    margin-top: 10px;
}

.languages p{
    padding-right: 10px;
    
}

.preview-btn{
    display: block;
    /* border: 2px solid white; */
    padding: 10px 20px;
    background-color: var(--btn-color);
    border-radius: 10px;
    margin-top: 10px;
    color: black;
}

/* Contact */
#contact{
    padding: 2rem 0;
}
.input label{
    font-size: 1.3rem;
    
}
.input input, textarea{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    outline: none;


}


textarea::placeholder{
    font-family: 'Roboto', sans-serif;
}
.contact .btn{
    border: none;
}

.scroll-btn{
    position: fixed;
    bottom: 100px;
    right: 50px;
    font-size: 2.5rem;
    visibility: hidden;
}
.scroll-btn-active{
    visibility: visible;
}
.scroll-btn i{
    color: var(--btn-color);
}
/* Utility Classes */
.main-heading{
    color: var(--btn-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;

}

.change-theme{
    background-color: #242424;
    transition: 0.3s ease;
}
.change-sec-bg{
    background-color: #404040;
    transition: 0.3s ease;
}

.green-color{
    color: var(--btn-color);
}


/* Animations */
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}



@media screen and (max-width:768px) {
    .main-banner, .projects, .about-section, .skills{
        grid-template-columns: 1fr;
    }
    .nav-links{
       position: absolute;
       display: block;
       top: 50px;
       left: 0;
       opacity: 1;
       flex-direction: column;
       width: 100%;
       background-color:rgb(54, 54, 54);
       z-index: 1000;
       padding: 0 20px;
       transition: 0.3s ease;
       height: 0;
       overflow: hidden;
    }
    .nav-links li{
        padding: 10px 0px;
    }
    .open-menu{
        height: 160px;
        
    }
    .menu-btn{
        display: block;
        position: absolute;
        right: 30px;
        top: 15px;
        font-size: 1.5rem;
    }
    
    .about-left{
        width: 100%;
    margin-bottom: 20px;

    }
    .about-right{
        width: 100%;
    }
    .about-section{        
        /* justify-content: center; */
        flex-direction: column-reverse;
    }
    .left-col h1{
        font-size: 3rem;
        margin-bottom: 5px;
    }
    .about-right::before{
        width: 400px;
        height: 370px;
        top: 0px;
        left: 30px;
    }
    .project1{
    text-align: center;
        
    }
    .switch-icons{
        position: absolute;
        right: 70px;
    } 
}